.card1 {
  width: 556px;
  height: 59px;
  top: 150px;
  left: 442px;

  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 2rem;


}
.container{
  display: flex;
}

.card2 {
  width: 295px;
  height: 521px;
  top: 343px;
  border-radius: 35px 35px 35px 35px;

  
  margin-bottom: 2rem;

  background: #45e203;
}
.card3 {
  width: 295px;
  height: 520px;
  top: 343px;
  border-radius: 35px 35px 35px 35px;
align-items: center;
  text-align: center;

  background: #0372e2;
}
.form{
  margin-top: 2rem;
}
.form1{
  margin-top: 2rem;
}
.content1 {
  width: 240px;
  height: 72px;
  top: 437px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0px 45px 45px 0px;

  background: #ffffff;
}
.content2 {
  width: 192px;
  height: 29px;
  top: 539px;
  left: 37px;
  margin-bottom: 3rem;
  font-family: Blinker;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  background: #45e203;
}
.content3 {
  width: 192px;
  height: 29px;
  top: 619px;
  left: 37px;
  margin-bottom: 3rem;

  font-family: Blinker;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  background: #45e203;
}
.content4 {
  width: 192px;
  height: 29px;
  top: 699px;
  left: 37px;
  margin-bottom: 3rem;

  font-family: Blinker;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  background: #45e203;
}

.content5 {
  width: 192px;
  height: 29px;
  top: 699px;
  left: 37px;

  font-family: Blinker;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  background: #45e203;
}

.detail1 {
  width: 170px;
  height: 39px;
  top: 316px;
  left: 400px;

  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
